*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Nunito Sans', sans-serif;
  
}
.body{
   
    width: 100vw;
   
   
} 
.form{
    margin: auto;
}
.all_countries{
    
    width: 100vw;
    
    padding: 0px 10vw;
    background-color:  hsl(207, 26%, 17%); 
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr)); 
    gap: 15vh 25px; 
    padding-top: 20px;
} 
.country_class{
    width: 200px;
    height: 230px;
    background-color: hsl(209, 23%, 22%) ;
    margin: auto; 
    border-radius: 5px; 
    box-shadow:  0 0 6px rgb(17, 14, 14); 
    cursor: pointer;
}
.image{
    width: 100%;
    height: 46%;
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
} 
.image img{
    height: 100%;
    width: 100%;
    border-top-left-radius: 5px;
   border-top-right-radius: 5px;
} 
.info{
    text-align: center; 
    padding: 5px 20px; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}  
.info h3{
    margin-top: 7px; 
    color: white; 
    font-size: 16px; 
  
}
.info p{
    margin-top: 7px; 
    color: white;
    font-size: 14.5px;
} 

/*navbar css*/
.navbar{
    width: 100vw;
    height: fit-content;
    background-color: hsl(209, 23%, 22%) ;  
    padding: 15px 0px;
   border-bottom: 1.4px solid rgb(43, 43, 43);
}  
.where_dark{
    width: 75vw;
 
    justify-content: space-between;
    display: flex;
margin: auto;
} 
.where_dark h2{
    color: white;
} 
.s{
    width: 100vw;
    height: fit-content;
    background-color:  hsl(207, 26%, 17%); 
    padding: 30px 0px 20px 0px; 
  
}
.search_filter{ 
    width: 75vw;
    margin: auto;
    
    display: flex;
    margin: auto;
    justify-content: space-between;
   
}
.search{
    width: 300px; 
    height: 100px;
    height: fit-content;
    display: flex; 
    padding: 15px 20px;
    background-color: hsl(209, 23%, 22%) ; 
    border-radius: 5px;
    box-shadow: 0 0 7px rgb(32, 29, 29);
} 
.image1{
height: 25px;
width: 25px;
} 
.image1 img{
    height: 100%;
    width: 100%;
    object-fit: contain;
} 
.search input{
    margin-left: 10px;
    background-color: transparent;
    border: none;
    outline: none;
    color: white; 
    font-size: 12px;
}

#placeholder::placeholder{
    color: white;
} 
.filter{
    background-color: hsl(209, 23%, 22%) ; 
    color: white;
    width: fit-content;
   height: fit-content;
   padding: 8px 10px;
   border: none;
   outline: none; 
   cursor: pointer;
   border-radius: 5px;
  
}   
.coun{
    background-color: transparent;
    border: none;
    outline: none;
  
} 

 .dark{
     padding: 10px 25px;
     color: white;
     border: none;
     font-size: 17px;
     border-radius: 5px;
     background-color: transparent; 
     cursor:  pointer;
     transition: 0.4s ease;
 } 
 .dark:hover{
     color: yellow;
 }
/*navbar ends here*/
/*details starts here*/



.details{
    width: 100vw;
    height: 100vh;
    background-color:  hsl(207, 26%, 17%); 
} 
#short_detail{
    width: 75vw;
    height: 100vh;
    margin: auto;
    display: flex;
   
}
.image_flag_detail{
    width: 40%;
    height: 60%;
} 
.image_flag_detail img{
    height: 100%;
    width: 100%;
}
.all_details p,.all_details h3{
    color: white; 
    letter-spacing: 1px;
    margin-top: 5px;
}
.bold{
    font-weight: bolder;
}
.all_details{
    margin-left: 150px;
   
}
.border_white{
    width: 100px;
    height: 3px;
    background-color: white;
    border-radius: 3px;
}
/*details ends here*/